.git
.git_corrompu
.github
.env
.env.*
!.env.example
!.env.docker.example
!.env.production.example
node_modules
npm-debug.log*
archives
backups
public/uploads
public/*.pdf
public/*.pdf:Zone.Identifier
tests
docs
.vscode
.idea
.DS_Store
Dockerfile*
compose*.yaml
README.md
